.projectCards {
  height: 100%;
  cursor: pointer;
}

.projectCards:hover {
  box-shadow: 0px 10px 10px grey;
  max-height: 1000px;
}

.projectCardsWrapper {
  min-height: 250px;
  max-height: 250px;
  transition: ease-in-out 0.5s;
  transition-delay: 0.2s;
}
.projectCardsWrapper:hover {
  box-shadow: 0px 10px 10px grey;
  max-height: 1000px;
}
