@import './variables.scss';
@import './_fade_scrollbar.scss';

.navbar {
  width: 100%;
  background-image: var(--default-gradient-bg);
  height: 70px;

  .navbar-nav {
    height: 70px;
    font-size: 14px;

    .nav-link {
      color: var(--navbar-nav-link-cl) !important;
      align-self: center;
    }

    .nav-link.active {
      background: var(--navbar-nav-link-active-bg-rgb);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: var(--navbar-nav-link-active-cl) !important;
    }
  }

  .navbar-nav.navbar-menu {
    .nav-link {
      font-weight: 600;
      align-self: flex-end;
      padding: 0 2rem;
      line-height: 40px;
    }
  }
}
