{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=tplv1datastoragedev;AccountKey=dummyacountkeyfromstorageaccountaccesskey;EndpointSuffix=core.windows.net",
    "DATABASE_URL": "postgresql://postgres:postgres@127.0.0.1:5432/postgres?schema=public",
    "SENDGRID_KEY": "dasdasd",
    "AZURE_KEY_VAULT_NAME": "tplv1-keyvault-dev",
    "EMAIL_QUEUE_NAME": "tplv1datastoragedev-email-queue",
    "STORAGE_BLOB_NAME": "tplv1datastoragedev-blob",
    "TIME_TRIGGER": "*/10 * * * * *",
    "NODE_ENV": "local",
    "AzureWebJobs.emailWatcher.Disabled": false,
    "AzureWebJobs.health.Disabled": false
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*",
    "CORSCredentials": false
  }
}
